@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100&display=swap');


*{
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}

body{

  background-color: #FAEBDA;
}

/* FONTES banner */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital@1&display=swap');


/* TOPO */
#topo{

  background-image: url(../img/cupcakebanner.png);

  height: 283px;
  width: 1255px;
  border-radius: 52px;
  
  margin: 0px auto;
  margin-top: auto 0px;
  margin-top: 10px;
}

nav{
   width: 500px;
   height: 40px;
   color: white;
   transform: translate(105%, 400%);

}
nav a:hover{
   background: rgba(255, 255, 255, 0.39);
   border-radius: 10px;
   color: black;
   transition: 1.2s;
   border:#cf9a8f solid 2px;
   transform: scale(1.1);
   box-shadow: 0 0 1.2em #cf9a8f, 0 0 1.2em #cf9a8f,
   0 0 1.2em #cf9a8f;
}


ul{

   list-style: none;
   display: flex;
   justify-content: flex-end;
   flex-direction: row;
   
   
}

li{
margin: 10px;
font-family: 'Inter', sans-serif;

font-size: 25px;



}
nav a{
   text-decoration: none;
   color: white;
   
}



h2{
   color: white;
   font-style: normal;
   font-family:  'Vidaloka', serif;
   font-weight: 400;
   line-height: 58px;
}
.logo{
   
   width: 442px;
   height: 40px;
   font-size: 30px;
   transform: translate(15%, 300%);
   
}

/* FIM DO TOPO */

header {
  background: #333;
  position: fixed;
  height: 48px;
  z-index: 1;

  /*Centralizar horizontal e verticalmente */
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: white;
  font-family: "Pacifico", Serif;
  font-size: 18px;
}

main {
  padding-top: 100px;
}

.add-post-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  
}



.add-post-title {
  margin: 15px;
  border-radius: 15px;
}
.add-post-title:hover
{
  transition: 1.5s;
  background-color: #FAEBDA;
  border: 1px 1px 1px 1px;
  border-color: #FAEBDA #FAEBDA black #FAEBDA;
  border-radius: 0px;
  box-shadow: none;
}
.add-post-title:focus
{
  transition: 1.5s;
  background-color: #FAEBDA;
  border: 1px 1px 1px 1px;
  border-color: #FAEBDA #FAEBDA black #FAEBDA;
  border-radius: 0px;
  box-shadow: none;
}

.add-post-body {
  margin: 15px;
  border-radius: 15px;
  box-shadow: none;
}
.add-post-body:hover
{
  transition: 1.5s;
  background-color: #FAEBDA;
  border: 2px 2px 2px 2px;
  border-color: black black black black;
  box-shadow: none;
}
.add-post-body:focus
{
  transition: 1.5s;
  background-color: #FAEBDA;
  border: 2px 2px 2px 2px;
  border-color: black black black black;
  box-shadow: none;
  
}


.add-post-button {
  margin: 15px;
  height: 50px;
  width: 150px;
  border-radius: 15px;
  color: black;
    transition: 0.4s;
    cursor: pointer;
    border: 2px;
    background: linear-gradient(120deg, #FFB5A7, #FAEBDA);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5);

    font-size: 25px;
    
}

.blog-post-container {
  width: 100%;
  box-shadow: 0px 0px 10px 0.01px rgba(50, 50, 50, 0.1);
  padding: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  background: linear-gradient(120deg, #FAEBDA, #fddcd5);
  border-radius: 15px;
}

.blog-post-title {
  padding-left: 1em;
  font-family: "Courier New";
  font-weight: bold;
  color: #333;
  font-size: 1.5em;
}

.blog-post-body {
  padding: 1em;
}

.blog-post-image {
  height: 100%;
  width: 100;
}
.blog-post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* .footer-container {
  background: #333;
  height: 48px;
  color: white;
  margin-top: 10em;

  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* COMEÇO FOOTER */
footer{
  width:1900px;
  height: 300px;
  background-image: linear-gradient(40deg,black,  rgb(51, 47, 42));
  display: flex;
  padding: 50px;

}
.logo_rodape{
  width: 228px;
  height: 190;
  background-image: url(../img/Gold_Luxury_Initial_Circle_Logo__1_-removebg-preview\ 2.png) left;
  margin-right:9px ;
  
  
  
}

#rodape{
  width: 1184px;
  height:153px ;
  margin: 10px;
  display: flex;
  
  
}
#rodape ul{
  flex-direction: column;
  font-family: 'KoHo', sans-serif;
  font-size: 24px;
  color: white;
  margin-right: 80px;
  margin-left: 80px;
  width: 100px;
}

#lista_rodape li{
  
  text-align:center ;
  width: 100px;
  
}
  
#lista_rodape li:hover{
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  transition: 1.2s;
  transform: scale(1.2);
  padding: 10px;

}



#Pagamentos{
  
  width: 469px;
  height: 190px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: end;
  
  margin-left: 100px;
  

}
#Pagamentos h1{
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  text-align: start;
  transform: translate(0%,-50%);
  color: white;
  
  
}
.icones_pagamentos1{
  width: 90px;
  height: 100px;
  
}
.icones_pagamentos2{
  width: 101px;
  height: 65px;
  
}
.icones_pagamentos3{
  width: 124px;
  height: 71px;
  
}
.icones_pagamentos4{
  width: 74px;
  height: 74px;
  
}
#caixa{
  width: 469px;
  height: 80px;
  
 
}
#Endereço{
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 250px;
 
}

.lista_endereço li{
  font-size: 24px;
  font-family:'KoHo', sans-serif;
  margin-bottom: 2px;
  font-weight: 200;
  width: 300px;   
}
